<form method="post" action="{% url 'income_delete' book.id %}" class="js-book-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">刪除機台收入</h4>
  </div>
  <div class="modal-body">
    <p class="lead">確定刪除本筆收入 <strong>{{ book.title }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">結 束</button>
    <button type="submit" class="btn btn-danger">確定刪除</button>
  </div>
</form>